<div class="row">
    <div class="col s12">
        <div class="card white hoverable">
            <div class="card-content">
                <div class="progress" ng-show="!service.isListaCarregada()">
                    <div class="indeterminate"></div>
                </div>
                <md-button ng-show="service.isListaCarregada() && !!service.listaEntidade" class="md-icon-button collapse right activator"
                           aria-label="Listagem"
                           ng-click="::service.switchCard()">
                    <md-tooltip>Lista de critérios</md-tooltip>
                    <i class="material-icons right">list</i>
                </md-button>
                <form novalidate name="formGenerico">
                    <div class="row">
                        <i class="material-icons" ng-bind="::classIcone"></i>
                        <span class="card-title" ng-bind="::service.tituloPaginaCadastro"></span>
                        <div ng-transclude="header"></div>
                        <div ng-transclude="body"></div>
                    </div>
                    <div class="card-action">
                        <md-button ng-disabled="formGenerico.$invalid" class="md-raised md-primary"
                                   ng-click="service.salvar()">
                            Salvar
                        </md-button>
                        <md-button class="md-raised"
                                   ng-click="service.limpar()">
                            Limpar
                        </md-button>

                        <div ng-transclude="footer"></div>
                    </div>
                </form>
            </div>
            <div class="card-reveal">
                <div class="card-content">
                    <div class="row">
                        <md-button class="md-icon-button collapse right"
                                   aria-label="Fechar"
                                   ng-click="::service.switchCard()">
                            <md-tooltip>Fechar</md-tooltip>
                            <i class="material-icons right">close</i>
                        </md-button>

                        <i class="material-icons left" ng-bind="::classIcone"></i>
                        <span class="card-title " ng-bind="::service.tituloPaginaPesquisa"></span>
                        <div ng-transclude="list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>