<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large indigo darken-4 waves-effect waves-light" href="#/dashboard">
        <i class="material-icons">reply</i>
        <md-tooltip md-direction="top">Voltar</md-tooltip>
    </a>
</div>
<fs-crud service="vm.alunoService">
    <fs-crud-body>
        <fs-input-text label="Nome"
                       largura="8"
                       ng-model="vm.alunoService.entidade.nome"
                       ng-required="true">
        </fs-input-text>

        <fs-input-text label="CPF"
                       largura="4"
                       ng-model="vm.alunoService.entidade.cpfResponsavel"
                       ng-required="true">
        </fs-input-text>

        <fs-input-text label="Responsável (Se Houver)"
                       largura="6"
                       ng-model="vm.alunoService.entidade.responsavel"
                       ng-required="false">
        </fs-input-text>

        <fs-input-text label="Telefone"
                       largura="6"
                       ng-model="vm.alunoService.entidade.telefone"
                       ng-required="true">
        </fs-input-text>

        <fs-select largura="6"
                   ng-model="vm.alunoService.entidade.instituicao"
                   function="vm.instituicaoService.listarWithPromise"
                   ng-required="true"
                   show="nome"
                   key-as-value="true"
                   mensagem="Instituição">
        </fs-select>

        <fs-select largura="6"
                   ng-model="vm.alunoService.entidade.turno"
                   lista="['Matutino', 'Vespertino', 'Noturno']"
                   ng-required="true"
                   mensagem="Período">
        </fs-select>
    </fs-crud-body>
    <fs-list>
        <table class="highlight">
            <thead>
            <tr>
                <th data-field="descricao" class="col l3 m3 s3">Nome</th>
                <th data-field="tipo" class="col l3 m3 s3">Instituição</th>
                <th data-field="tipo" class="col l2 m2 s2">Turno</th>
                <th data-field="tipo" class="col l2 m2 s2">Telefone</th>
                <th data-field="acoes" class="col l2 m2 s2 center">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="(key, value) in vm.alunoService.listaEntidade">
                <td class="col l3 m3 s3">{{value.nome}}</td>
                <td class="col l3 m3 s3">{{value.instituicao}}</td>
                <td class="col l2 m2 s2">{{value.turno}}</td>
                <td class="col l2 m2 s2">{{value.telefone}}</td>
                <td class="col l2 m2 s2 center">
                    <md-button class="md-icon-button semEspaco"
                               aria-label="Fechar"
                               ng-click="vm.alunoService.editar(key)">
                        <md-tooltip>Editar Aluno</md-tooltip>
                        <a href="#" class="material-icons blue-grey-text">edit</a>
                    </md-button>
                    <md-button class="md-icon-button semEspaco"
                               aria-label="Fechar"
                               ng-click="vm.alunoService.eliminar(key)">
                        <md-tooltip>Excluir Aluno</md-tooltip>
                        <a href="#" class="material-icons red-text">delete</a>
                    </md-button>
                    <md-button class="md-icon-button semEspaco"
                               aria-label="Fechar"
                               onclick="Materialize.toast('Gerar Contratro', 4000)">
                        <md-tooltip>Gerar Contratro</md-tooltip>
                        <a href="#" class="material-icons light-green-text">assignment</a>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </fs-list>
</fs-crud>
