<!DOCTYPE html >
<html ng-app="st" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Systrans - Mais um software de 2FullStacks</title>

    <link rel="stylesheet" href="styles.css">

    <script src="vendor.min.js"></script>
    <script src="main.js"></script>
    <script src="app.min.js"></script>
</head>

<body ng-cloak ng-controller="DashboardController as vm">

<nav class="navbar navbar-light bg-faded indigo darken-4">
    <a href="#/dashboard" class="brand-logo center">Systrans</a>
    <div class="collapse" id="exCollapsingNavbar">
        <md-button class="md-icon-button"  aria-label="Side Panel" ng-click="vm.openSideNavPanel()">
            <md-tooltip>Menu</md-tooltip>
            <md-icon class="white-text material-icons" >&#xE5D2;</md-icon>
        </md-button>
        <ul class="right hide-on-med-and-down">
            <li><a href="index.html">
                <md-tooltip>Sair</md-tooltip>
                <i class="material-icons">exit_to_app</i></a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar layout="row" style="height: 200px; background-color: #0D47A1">
            <div class="md-toolbar-tools blue darken-4">
                <h2><span>Systrans</span></h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.closeSideNavPanel()">
                    <md-tooltip>Fechar</md-tooltip>
                    <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidemenu locked="true">
            <md-sidemenu-group>
            </md-sidemenu-group>
            <md-sidemenu-group>
                <md-subheader class="md-no-sticky">Menu</md-subheader>
                <md-sidemenu-content ng-click="vm.alterarRota('dashboard')" md-icon="&#xE1AF;" md-heading="Dashboard">
                </md-sidemenu-content>
                <md-sidemenu-content md-icon="supervisor_account" md-heading="Aluno" md-arrow="true">
                    <md-sidemenu-button ng-click="vm.alterarRota('cadastroAluno')">Cadastro de Aluno
                    </md-sidemenu-button>
                </md-sidemenu-content>

                <md-sidemenu-content md-icon="account_balance" md-heading="Faculdade" md-arrow="true">
                    <md-sidemenu-button ng-click="vm.alterarRota('instituicao')">Cadastro de Faculdade
                    </md-sidemenu-button>
                </md-sidemenu-content>

                <md-sidemenu-content md-icon="assignment_ind" md-heading="Contratos" md-arrow="true">
                    <md-sidemenu-button md-icon="assignment_ind" ng-click="vm.alterarRota('cadastroInstituicao')">Novo Contrato
                    </md-sidemenu-button>
                    <md-sidemenu-button ng-click="vm.alterarRota('cadastroInstituicao')">Listar Contratos
                    </md-sidemenu-button>
                </md-sidemenu-content>

            </md-sidemenu-group>
        </md-sidemenu>
    </md-sidenav>
</div>

<ui-view>
</ui-view>

</body>
</html>