<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large indigo darken-4 waves-effect waves-light" href="#/dashboard">
        <i class="material-icons">reply</i>
        <md-tooltip md-direction="top">Voltar</md-tooltip>
    </a>
</div>
<fs-crud service="vm.fsService">
    <fs-crud-body>

        <fs-input-text label="Nome"
                       largura="12"
                       icone="description"
                       ng-model="vm.fsService.entidade.nome"
                       ng-required="true">
        </fs-input-text>

    </fs-crud-body>
    <fs-list>
        <table class="highlight">
            <thead>
            <tr>
                <th data-field="descricao" class="col l3 m3 s3">Nome</th>
                <th data-field="acoes" class="col l2 m2 s2 center">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="(key, value) in vm.fsService.listaEntidade">
                <td class="col l3 m3 s3">{{value.nome}}</td>
                <td class="col l2 m2 s2 center">
                    <md-button class="md-icon-button semEspaco"
                               aria-label="Fechar"
                               ng-click="vm.fsService.editar(key)">
                        <md-tooltip>Editar</md-tooltip>
                        <a href="#" class="material-icons black-text">edit</a>
                    </md-button>
                    <md-button class="md-icon-button semEspaco"
                               aria-label="Fechar"
                               ng-click="vm.fsService.eliminar(key)">
                        <md-tooltip>Eliminar</md-tooltip>
                        <a href="#" class="material-icons red-text">delete</a>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </fs-list>
</fs-crud>
